<p>year-filter works!</p>
<form [formGroup]="yearFilterForm" (ngSubmit)="applyFilter()">
    <label for="selectedYear">Select Year:</label>
    <select id="selectedYear" formControlName="selectedYear">
      <option value="">All</option>
      <option value="2023">2020</option>
      <option value="2022">2018</option>
      <option value="2025">2022</option>
      <option value="2022">2025</option>
      <!-- Add more year options as needed -->
    </select>
    <button type="submit">Apply</button>
</form>
